* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}

/* NAVIGATION BAR */
    .navbar {
        background-color: #053706;
    }

    .navbar-brand img {
        width: 50px;
    }

    .nav-link.active {
        pointer-events: none;
        cursor: default;
    }

    .active {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }

/* HERO */
    .hero {
        background-image: url('hero.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        display: flex;
        align-items: center;
        position: relative;
    }
                
    .hero::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .hero .container {
        background-color: rgba(255, 255, 255, 0.85);
        text-align: center;
        padding: 30px;
        border-radius: 15px;
        z-index: 1;
    }
                
    .hero .container h1 {
        color: #340000;
        font-weight: bold;
        margin-top: 20px;
    }
                
    .hero .container p {
        color: #340000;
        margin-bottom: 20px;
    }

    .hero-logo {
        width: 200px;
        height: 200px;
    }

.container {
    text-align: justify;
    padding: 40px;
    color: #000000;
}

.container h1 {
    text-align: center;
    font-weight: bold;
}

.container h2 {
    text-align: center;
    font-weight: bold;
}

.container hr {
    border: 3px dashed #000000;
    margin-top: 10px;
    margin-bottom: 30px;
}

.summary-section {
    background-color: #88002d;
    border-radius: 20px;
    outline: 4px dashed #ffbb00;
    padding: 30px;
    color: #ffbb00;
    text-align: center
}

.footer {
    text-align: center;
    background-color: #053706;
    color: #ffffff;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #e4e4e4;
}